html, body {
  margin: 0px;
  padding: 0;
}
canvas {
  display: block;
}

button {
  font-size: 14px;
  margin : 10px;
  width: 120px;
  height: 40px;
}

#progressContainer {
  width: 100%;
  background-color: #ddd;
}

#progressBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

p {
  text-align: right;
  margin : 10px;
  width: 120px;
  
}
